@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Overpass:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #141616;
  background: linear-gradient(to bottom, #080808, #111827);
  color: white;
  caret-color: white;
  margin: 0;
  padding: 0;

}

.noscroll::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #333333;
  color: white;
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: white !important;
}

.ql-active .ql-stroke {
  fill: none;
  stroke: white !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: white !important;
  stroke: none;
}

.ql-active .ql-fill {
  fill: white !important;
  stroke: none;
}

.ql-container {
  height: calc(100% - 42px);
}